@import "tailwindcss";

@theme {
  --color-navy-50:  #eeeef4;
  --color-navy-100: #c5c7d9;
  --color-navy-500: #0C143D;
  --color-navy-600: #0a1133;

  --color-sky-50:  #e8f6fd;
  --color-sky-100: #bae5f8;
  --color-sky-400: #2AABE1;
  --color-sky-500: #1f96cc;
  --color-sky-600: #1680b0;

  --color-red-500: #EB2127;

  --color-brand-red-100: #f9bbbf;
  --color-brand-red-500: #eb2127;
}

@layer base {
  button, select, [role="button"], input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
  }
  button:disabled, select:disabled {
    cursor: not-allowed;
  }
}
